Pods/
coffeeapp.xcworkspace/xcuserdata/omarguzman.xcuserdatad/UserInterfaceState.xcuserstate
coffeeapp.xcworkspace/xcuserdata/leonelrobertopereatrejo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
coffeeapp.xcodeproj/xcuserdata/leonelrobertopereatrejo.xcuserdatad/
coffeeapp.xcworkspace/xcshareddata/
coffeeapp.xcworkspace/xcuserdata/
coffeeapp.xcodeproj/xcuserdata/omarguzman.xcuserdatad/xcschemes/Documentation.xcscheme
